@charset "utf-8";
/*CSS document*/

/* --------------------------------------------------------
Style Sheet for Likewhiteheadphones Website

version: 1.1
last modified: 12.11.2017 by Robert Ashley
author: Robert Ashley
email: robashley.hello[@]gmail.com or hi[@]robashley.co.uk
website: http://likewhiteheadphon.es
----------------------------------------------------------*/


/* Show grid code 

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px dotted rgba(0, 0, 0, 0.5);
}
 

body {
	background-color: rgb(255,255,255);
}

header {
	padding-top: 25%;
}

*/

body {
   font-family: 'Formular-light' 'helvetica' , 'arial'!important;
   font-weight: normal;
   font-size: 14px;
   letter-spacing: 0.02em;
   /* background-color: rgb(255, 255, 255); */

   background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
   color: #2d2e2d;
   cursor: url('cursor-1.svg'), auto;  

 }


.affix {
  top: 20px;
  width: 30%;
}

.affix-top {
  position: fixed;
  width: 30%;
}

.about.affix-top {
   padding-right: 20px;
}

.about.affix {
   padding-right: 20px;
}

.affix-bottom {
  position: absolute;
}

.about.affix-bottom {
   padding-right: 20px;
}

 .col-xs-12 {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

/* TYPOGRAPHY */

p {
  font-family: 'Formular-light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.header { 
   font-family: 'Formular-light','helvetica' , 'arial'!important;
   font-weight: normal;
   font-size: 14px;
   letter-spacing: 0.03em;
   text-transform: none;
}

.list-group:hover p {
  opacity: 0.3;

  }

.list-group:hover .list-group-item:hover p:hover {
  opacity: 1.0;

  }

.title {
  font-family: 'Formular-light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  margin-left: 45px;
  text-transform: uppercase;
  color: #2d2e2d;

  -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
  

}

/* .title:hover {
  color: #50DC96;
  text-decoration: none;
} */



.archiveTitle {
  font-family: 'Formular-light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #2d2e2d;
}

a {
  color: #2d2e2d;
  font-family: 'Formular-light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-decoration:none;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);
  color: #2d2e2d;
  cursor: url('cursor-2.svg'), auto;  

}

a:hover {
  background: #50DC96;
  color: #50DC96;
  text-decoration: none;
  cursor: url('cursor-2.svg'), auto;  

}

a:visited {
  color: #2d2e2d;
  text-decoration: none;
}

a:active {
  color: #2d2e2d;
  text-decoration: none;
}

.btn {
  font-family: 'Formular-light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2d2e2d;
 }

 .navbar-default .btn-link {
  color: #2d2e2d;  
 }

  .navbar-default .btn-link:hover {
  color: #50DC96;
  text-decoration: none;
 }

.badge {
  font-family: 'Formular-light','helvetica','arial'!important;
  font-weight: normal;
  font-size: 14px;
  color: #50DC96;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

.month {
font-family: 'Formular-light','helvetica' , 'arial'!important;
font-weight: normal;
font-size: 21px;
line-height: 30px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #2d2e2d;

}

/* end of TYPOGRAPHY */


@media (max-width:767px) {
   .affix {
       position: static;
       width: 100%;
       top: 20px;
   }
   .affix-top {
       position: static;
       width: 100%;
   }
   .affix-bottom {
     position: static;
      width: 100%;
  }
   .progress-bar {
    display: none;
   }
} 

.navbar-default .navbar-brand {
float: left;
left: 0;
top: 50%;
margin-top:0;
-webkit-transform: rotate(270deg) translateY(-50%);
-ms-transform: rotate(270deg translateY(-50%));
transform: rotate(270deg) translateY(-50%);
/*height: 50px; */
padding: 20px 30px; 
font-size: 16px;
line-height: 20px;
letter-spacing: 0.03em;
color: #2d2e2d;
position: fixed;
}

.navbar-default {
  background-color: rgb(255, 255, 255);
  border: none;

}


/* .navbar-nav {
  margin-bottom: 7.5px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 7.5px;
} */

.navbar-default .navbar-toggle {
  border: none;
  margin-left: auto;
  float: none;
  width: 100%;
}

.modal-body .list-group .list-group-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  background-color: rgb(255, 255, 255);
}

.col-xs-12.col-sm-7.col-md-7 .list-group {
  margin-top: 2%;
}  

.col-xs-12.col-sm-7.col-md-7 .list-group-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  background-color: inherit;
}

.last-month .col-xs-12.col-sm-7.col-md-7 .list-group-item p.title {
  margin-left: 0px !important;
}
.footer {
  border: none;
  background-color: #000000;
  float: none;
  width: 100%;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.footer p {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: left;
}

.multiSounds__details {
  display: none;
}

iframe {
  margin-top:2%;
  width: 80%;
  height: 300px;
  float: none;
  margin-bottom:2%;
}

 .btn {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  border: 0px;
} 

.btn:hover {
 color: #7a7d84;
 text-decoration: none;
 cursor: url('cursor-2.svg'), auto;
}

.btn:active {
 color: #50DC96;
 text-decoration: none;
 cursor: url('cursor-1.svg'), auto;
}

.btn:visited {
 color: #50DC96;
 text-decoration: none;
}

.playtoggle {
    color: #2d2e2d;

}

.last-month {

    background-color: #FFFFFF;  
    color: #2d2e2d;
    padding-top: 30px;
}

.last-month p {
    letter-spacing: 0.02em;
}


hr {
  border-top: 1px solid #000;
}

/* ---- BADGE CSS ---- */

.badge {
  background-color: #fff;
  border-radius: 0px;
  width: 25px;
  height: 25px;
  padding: 0px;
}

.badge.pull-left {
    margin-right: 20px;
    width: 25px;
}

/* ---- ARCHIVE BUTTON CSS ---- */
/* #myBtn {
position: absolute;
-webkit-transform: rotate(270deg);
-ms-transform: rotate(270deg);
transform: rotate(270deg);
right: 7px;
top: 42px;
margin-top: 0; */
}


@media (max-width:767px) {

  /* #myBtn {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  position: absolute;
  right: 30px;
  top: 20px;
  margin-top: 0; 
  } */

.navbar-default .navbar-brand {
-webkit-transform: rotate(0deg) ;
-ms-transform: rotate(0deg) ;
transform: rotate(0deg) ;
padding: 20px 30px;
letter-spacing: 0.03em;
position: absolute;
margin-top: 0;
}

  iframe {
    width: 100%;
  }

} 
