@charset "utf-8";
/*CSS document*/

/* --------------------------------------------------------
Style Sheet for Likewhiteheadphones Website

version: 2.1
last modified: 30.06.2019 by Robert Ashley
author: Robert Ashley
email: robashley.hello[@]gmail.com or hi[@]robashley.co.uk
website: http://likewhiteheadphon.es
----------------------------------------------------------*/


/* Show grid code 

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px dotted rgba(0, 0, 0, 0.5);
}
 

body {
	background-color: rgb(255,255,255);
}

header {
	padding-top: 25%;
}

*/

body {
   font-family: 'Formular-light' 'helvetica' , 'arial'!important;
   font-weight: normal;
   font-size: 14px;
   letter-spacing: 0.02em;
   background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
   color: #2d2e2d;
   cursor: url('cursor-1.svg'), auto;  
 }

/* AFFIX PROPERTIES */

.affix {
  top: 20px;
  width: 25%;
}

.affix-top {
  position: fixed;
  width: 25%;
}

.about.affix-top {
   padding-right: 20px;
}

.about.affix {
   padding-right: 20px;
}

.affix-bottom {
  position: absolute;
}

.about.affix-bottom {
   padding-right: 20px;
}

/* End of AFFIX PROPERTIES */


/* TYPOGRAPHY */

p {
 font-family: 'Formular-light','helvetica' , 'arial'!important;
 font-weight: normal;
 font-size: 14px;
 line-height: 20px;
 letter-spacing: 0.01em;
}

.header { 
  font-family: 'Formular-light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: none;
}

.list-group:hover p {
  opacity: 0.3;
}

.list-group:hover .list-group-item:hover p:hover {
  opacity: 1.0;
}

.title {
  font-family: 'Formular-light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  margin-left: 45px;
  text-transform: uppercase;
  color: #2d2e2d;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.archiveTitle {
  font-family: 'Formular-light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #2d2e2d;
}

a {
  color: #2d2e2d;
  font-family: 'Formular-light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-decoration:none;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);
  color: #2d2e2d;
  cursor: url('cursor-2.svg'), auto;  
}

a:hover {
  color: #50DC96;
  text-decoration: none;
  cursor: url('cursor-2.svg'), auto;  
}

a:visited {
  color: #2d2e2d;
  text-decoration: none;
}

a:active {
  color: #2d2e2d;
  text-decoration: none;
}

.btn {
  font-family: 'Formular-light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2d2e2d;
 }

.navbar-default .navbar-header{

} 

.badge {
  font-family: 'Formular-light','helvetica','arial'!important;
  font-weight: normal;
  font-size: 14px;
  color: #50DC96;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

/* end of TYPOGRAPHY */


@media (max-width:767px) {
   .affix {
       position: static;
       width: 100%;
       top: 20px;
   }
   .affix-top {
       position: static;
       width: 100%;
   }
   .affix-bottom {
     position: static;
      width: 100%;
  }
} 

.navbar-default {
  background-color: rgb(255, 255, 255);
  border: none;
}

.modal-body .list-group .list-group-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  background-color: inherit;
}

.album .col-xs-12.col-sm-7.col-md-7 {
  margin-bottom: 2%;
}

.playlist .col-xs-12.col-sm-7.col-md-7 {
  margin-bottom: 2%;
}

.col-xs-12.col-sm-7.col-md-7 .list-group {
  margin-top: 2%;
}  

.col-xs-12.col-sm-7.col-md-7 .list-group-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  background-color: inherit;
}

.album .col-xs-12.col-sm-7.col-md-7 .list-group-item p.title {
  margin-left: 0px !important;
}
.footer {
  border-top: 1px #ddd solid;
  background-color: #fff;
  float: none;
  width: 100%;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.footer p {
  color: #2d2e2d;
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: left;
}

.btn {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  border: 0px;
} 

.btn:hover {
 color: #50DC96;
 text-decoration: none;
 cursor: url('cursor-2.svg'), auto;
}

.btn:active {
 color: #2d2e2d;
 text-decoration: none;
 cursor: url('cursor-1.svg'), auto;
}

.btn:visited {
 color: #2d2e2d;
 text-decoration: none;
}

.album {
  background-color: #FFFFFF;  
  color: #2d2e2d;
  padding-top: 30px;
}

.album p {
  letter-spacing: 0.02em;
}

hr {
  border-top: 1px solid #000;
}

/* ---- BADGE CSS ---- */

.badge {
  background-color: #fff;
  border-radius: 3px;
  width: 25px;
  height: 25px;
  padding: 0px;
}

.badge.pull-left {
    margin-right: 20px;
    width: 25px;
}

@media (max-width:767px) {
  /* .navbar-default .navbar-brand {
  -webkit-transform: rotate(0deg) ;
  -ms-transform: rotate(0deg) ;
  transform: rotate(0deg) ;
  padding: 20px 30px;
  letter-spacing: 0.03em;
  position: absolute;
  margin-top: 0;
  } */

} 
