@charset "utf-8";
/*CSS document*/

/* --------------------------------------------------------
Style Sheet for Likewhiteheadphones Website

version: 1.1
last modified: 12.11.2017 by Robert Ashley
author: Robert Ashley
email: robashley.hello[@]gmail.com or hi[@]robashley.co.uk
website: http://likewhiteheadphon.es
----------------------------------------------------------*/


/* Show grid code 

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px dotted rgba(0, 0, 0, 0.5);
}
 

body {
	background-color: rgb(255,255,255);
}

header {
	padding-top: 25%;
}

*/

body {
   font-family: 'Sixta' 'helvetica' , 'arial'!important;
   font-weight: 300;
   font-size: 14px;
   letter-spacing: 0.02em;
   background-color: #e6e7e7;
   color: #2d2e2d;

 }

.affix {

}

.affix-top {
  position: fixed;
  width: 30%;
}

.affix-bottom {
  position: absolute;
}

 .col-xs-12 {
  padding-left: 30px;
  padding-right: 30px;
 }

/* TYPOGRAPHY */

.slug {
   font-family: 'Sixta','helvetica' , 'arial'!important;
   font-weight: 400;
   font-style: italic;
   letter-spacing: 0.02em;
}

.header { 
   font-family: 'Sixta','helvetica' , 'arial'!important;
   font-weight: 400;
   font-size: 14px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.spacing {
  padding-top: 15px;
  margin-bottom: 0;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.title {
  margin-left: 45px;
  text-transform: uppercase;
}

/* end of TYPOGRAPHY */

.affix {
      top: 20px;
      width: 30%;

}

.about.affix-top {
   padding-right: 20px;
}

@media (max-width:767px) {
   .affix {
       position: static;
       width: 100%;
       top: 20px;
   }
   .affix-top {
       position: static;
       width: 100%;
   }
   .affix-bottom {
     position: static;
      width: 100%;
  }
   .progress-bar {
    display: none;
   }
} 

/* .btn {
     float: left;
}
.btn .btn-default {
  display: block;
  position: fixed;
  z-index: 1;
}
 */

.navbar-brand {
float: left;
height: 50px;
padding: 20px 30px;
font-size: 14px;
line-height: 20px;
}


.progressbar-container {
  display: block;
  height: 40px;
  margin: 0;
  position: fixed;
  left:0;
  right:0;
  bottom:0;
}

.progress-bar {
  position: relative;
  z-index: 2;
}

.navbar-default {
  background-color: #e6e7e7;
  border: none;
}


/* .navbar-nav {
  margin-bottom: 7.5px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 7.5px;
} */

.navbar-default .navbar-toggle {
  border: none;
  margin-left: auto;
  float: none;
  width: 100%;
}

.list-group-item {
  font-family: 'Sixta','helvetica' , 'arial'!important;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.03em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  background-color: #e6e7e7;

}


/*.list-group-item:nth-last-child(2) {
  border-bottom: 1px solid #000;
}
 
 .list-group-item:first-child {
  border-top: 1px solid #000;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}     
*/
.list-group {
  margin-top: 2%;
} 

.footer {
  border: none;
  background: #17081f;
  color: #fff;
  float: none;
  width: 100%;
  height: 40px;
}

.footer p {
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}

.multiSounds__details {
  display: none;
}

iframe {
  margin-top:2%;
  height: 300px;
  float: none;
  margin-bottom:5%;
}

 .btn {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  border: 0px;
} 

.btn:hover {
 color: #fe1818;
 text-decoration: none;
}

.playtoggle {
    color: #fe1818;

}

#this-month {
    z-index: 1;
}

.last-month {
    background-color: #7a7d84;
    color: #e6e7e7;
    padding-top: 3%;
}

hr {
  border-top: 1px solid #000;
}

/* ---- BADGE CSS ---- */

.badge {
  background-color: #fff;
  color: #e6e7e7;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  border-radius: 0px;
  width: 25px;
  height: 25px;
  padding: 0px;
}

.badge.pull-left {
    margin-right: 20px;
    width: 25px;
}

/* ---- ARCHIVE BUTTON CSS ---- */

#myBtn {

position: absolute;
text-decoration: underline;
-webkit-transform: rotate(270deg);
-ms-transform: rotate(270deg);
transform: rotate(270deg);
right: 7px;
top: 42px;
margin-top: 0;

}