@charset "utf-8";
/*CSS document*/

/* --------------------------------------------------------
Style Sheet for Likewhiteheadphones Website

version: 1.1
last modified: 12.11.2017 by Robert Ashley
author: Robert Ashley
email: robashley.hello[@]gmail.com or hi[@]robashley.co.uk
website: http://likewhiteheadphon.es
----------------------------------------------------------*/


/* Show grid code 

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px dotted rgba(0, 0, 0, 0.5);
}
 

body {
	background-color: rgb(255,255,255);
}

header {
	padding-top: 25%;
}

*/

body {
   font-family: 'Sixta-Light' 'helvetica' , 'arial'!important;
   font-weight: normal;
   font-size: 14px;
   letter-spacing: 0.02em;
   background-color: #e6e7e7;
   color: #2d2e2d;

 }

.affix {

}

.affix-top {
  position: fixed;
  width: 30%;
}

.affix-bottom {
  position: absolute;
}

 .col-xs-12 {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

/* TYPOGRAPHY */

p {
  font-family: 'Sixta-Light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.header { 
   font-family: 'Sixta-Light','helvetica' , 'arial'!important;
   font-weight: normal;
   font-size: 14px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.title {
  font-family: 'Sixta-Light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  margin-left: 45px;
  text-transform: uppercase;
}
.archiveTitle {
  font-family: 'Sixta-Light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

a {
  color: #000;
  font-family: 'Sixta-Light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-decoration:none;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}

a:hover {
  background: #75F3A4;
  color: #2d2e2d;
  text-decoration: none;
}

.btn {
  font-family: 'Sixta-Light','helvetica' , 'arial'!important;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FE1818;
 }

 .navbar-default .btn-link {
  color: #FE1818;  
 }

.badge {
  font-family: 'Sixta-Light','helvetica','arial'!important;
  font-weight: normal;
  font-size: 14px;
  color: #FE1818;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

/* end of TYPOGRAPHY */

.affix {
  top: 20px;
  width: 30%;
}

.about.affix-top {
   padding-right: 20px;
}

@media (max-width:767px) {
   .affix {
       position: static;
       width: 100%;
       top: 20px;
   }
   .affix-top {
       position: static;
       width: 100%;
   }
   .affix-bottom {
     position: static;
      width: 100%;
  }
   .progress-bar {
    display: none;
   }
} 

.navbar-brand {
float: left;
height: 50px;
padding: 20px 30px;
font-size: 14px;
line-height: 20px;
}

.navbar-default {
  background-color: #e6e7e7;
  border: none;
}


/* .navbar-nav {
  margin-bottom: 7.5px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 7.5px;
} */

.navbar-default .navbar-toggle {
  border: none;
  margin-left: auto;
  float: none;
  width: 100%;
}



.modal-body .list-group .list-group-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  background-color: #e6e7e7;
}

.col-xs-12.col-sm-7.col-md-7 .list-group {
  margin-top: 2%;
}  

.col-xs-12.col-sm-7.col-md-7 .list-group-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  background-color: #e6e7e7;
}

.footer {
  border: none;
  background: #17081f;
  float: none;
  width: 100%;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.footer p {
  color: #7a7d84;
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: left;
}

.multiSounds__details {
  display: none;
}

iframe {
  margin-top:2%;
  width: 80%;
  height: 300px;
  float: none;
  margin-bottom:5%;
}

 .btn {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  border: 0px;
} 

.btn:hover {
 color: #fe1818;
 text-decoration: none;
}

.playtoggle {
    color: #fe1818;

}

.last-month {
    background-color: #7a7d84;
    color: #e6e7e7;
    padding-top: 30px;
}

hr {
  border-top: 1px solid #000;
}

/* ---- BADGE CSS ---- */

.badge {
  background-color: #fff;
  border-radius: 0px;
  width: 25px;
  height: 25px;
  padding: 0px;
}

.badge.pull-left {
    margin-right: 20px;
    width: 25px;
}

/* ---- ARCHIVE BUTTON CSS ---- */
#myBtn {
position: absolute;
-webkit-transform: rotate(270deg);
-ms-transform: rotate(270deg);
transform: rotate(270deg);
right: 7px;
top: 42px;
margin-top: 0;
}


@media (max-width:767px) {

  #myBtn {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  position: absolute;
  right: 30px;
  top: 20px;
  margin-top: 0;
  } 

  iframe {
    width: 100%;
  }

} 
